{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="row text-center">
        <div class="col-sm-10 col-md-10 col-lg-10 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Votre Profil</h5>


                    {{ form_start(form) }}
                    <div class=" offset-md-2 col-md-8 offset-md-2">{{ form_row(form.pseudo) }}</div>
                    <div class=" offset-md-2 col-md-8 offset-md-2">{{ form_row(form.prenom) }}</div>
                    <div class=" offset-md-2 col-md-8 offset-md-2">{{ form_row(form.nom) }}</div>
                    <div class=" offset-md-2 col-md-8 offset-md-2">{{ form_row(form.telephone) }}</div>
                    <div class=" offset-md-2 col-md-8 offset-md-2">{{ form_row(form.email) }}</div>
                    <div class=" offset-md-2 col-md-8 offset-md-2">{{ form_row(form.password) }}</div>
                    <div class=" offset-md-2 col-md-8 offset-md-2">{{ form_row(form.campus) }}</div>


                    <button class="btn btn-primary mt-3">{{ button | default('Enregister') }}</button>
                    <a href="{{ path('home') }}" class="btn btn-primary mt-3"> {{ button | default('Annuler') }}</a>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
