{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes ('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <div class="row text-center">
        <div class="col-sm-10 col-md-10 col-lg-10 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">{{user.pseudo }}</h5>
                    <table class="table table-striped">
                        <tr>
                            <td>Pseudo :</td>
                            <td>{{ user.pseudo }} </td>
                        </tr>
                        <tr>
                            <td>Prénom :</td>
                            <td>{{ user.prenom }}</td>
                        </tr>
                        <tr>
                            <td>Nom :</td>
                            <td>{{ user.nom }}</td>
                        </tr>
                        <tr>
                            <td>Email :</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td>téléphone :</td>
                            <td>{{ user.telephone }} </td>
                        </tr>
                        <tr>
                            <td>Campus :</td>
                            <td>{{ user.campus.campus }} </td>
                        </tr>
                    </table>
                </div>
                <div class="offset-md-1 col-md-10 offset-md-1">
                    <a href="{{ path('user_edit', {id: user.id}) }}" class="button btn btn-primary mr-4 mt-5 mb-5">{{ button_label|default('Modifier') }}</a>
                    <a href="{{ path('home') }}" class="button btn btn-primary mt-5 mb-5">{{ button_label|default('Retour') }}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}
    Profil
{% endblock %}

